In [1]:
2+2

4

In [2]:
"Hello World"

'Hello World'

In [3]:
# This is a comment

In [4]:
# 2 + 2
2 + 3

5

In [15]:
# TODO Finish analyze space rock function

def analyzeSpaceRock():
...

IndentationError: expected an indented block (<ipython-input-15-03404ef82bf3>, line 4)

In [7]:
# This code is a function that will take in
# text and then see what type of space rock it is.
# If the rock matches a certain type of rock
# it will increase the count of that rock type by 1.
# Basalt is a common type of rock found on the moon.

def countRocks(rockText):
    if(rockText == "Basalt"):
        basalt = basalt + 1
...

Ellipsis

In [10]:
rocketSpeed = 17000 # rocket speed needed to reach orbit

In [11]:
# Combining two piles of space rocks
3 + 6

9

In [16]:
# Lose three units of oxygen
15 - 3

12

In [17]:
# Finding how far a rocket has gone by multiplying speed by time travelling
17000 * 2

34000

In [18]:
# Number of rocks per pile if we separate 100 space rocks in 4 piles
100 / 4

25.0

In [19]:
2 + 5 * 3
(2 + 5) * 3

21

In [20]:
# How many rocks will be left when we divide 10 rocks into 3 even piles
10 % 3

1

In [21]:
# The moon is just under 10^5.37 miles away
10 ** 5.37

234422.88153199226

In [22]:
# How many even piles of 2 we can make with 5 rocks
5 // 2

2

In [25]:
# Integer Variable
numberOfRocks = 5

# Float Variable
tempInSpace = -457.87

# String Variable
roverName = "Artemis Rover"

# Boolean Variable
rocketOn = False
...

Ellipsis

In [26]:
# Create integer variable named basaltRockCount with value 0
basaltRockCount = 0

In [27]:
basaltRockCount = 3
basaltRockCount = basaltRockCount + 1
basaltRockCount

4

In [28]:
basaltRockCount = 5
basaltRockCount += 3 #Add 3
basaltRockCount -= 2 #Remove 2

In [29]:
# Find out how many miles until rocket reaches moon
distanceToMoon = 238855
distanceTraveled = 10234
distanceToMoon - distanceTraveled

228621

In [30]:
# Find out how many miles until rocket reaches moon
a = 238855
b = 10234
a - b

228621

In [32]:
astronaut = "Remy Morris"

In [33]:
lowerCase = astronaut.lower()
lowerCase

'remy morris'

In [34]:
rocketOutput = "rOckEt iS A laUncH!"
rocketOutput.capitalize()

'Rocket is a launch!'

In [35]:
launchLocationCity = "Cape Canaveral, "
launchLocationState = "Florida"

launchLocationCity + launchLocationState

'Cape Canaveral, Florida'

In [36]:
artemisRoverSounds = "beep beep "
artemisRoverSounds * 3

'beep beep beep beep beep beep '

In [37]:
# Create a list of common moon rocks
rockTypes = ["basalt", "highland", "breccia"]
rockTypes

['basalt', 'highland', 'breccia']

In [38]:
# A list with rock names and the number of that rock found
rockTypeAndCount = ["basalt", 1, "highland", 2.5, "breccia", 5]
rockTypeAndCount

['basalt', 1, 'highland', 2.5, 'breccia', 5]

In [39]:
rockTypes[1]

'highland'

In [40]:
rockTypes[2] = "soil"
rockTypes

['basalt', 'highland', 'soil']

In [41]:
2 + 2
5 + 3

8

In [42]:
print(6)
print("Hello World")

6
Hello World

In [43]:
numRocks = 15
print(numRocks)

15

In [44]:
numBasalt = 4
print("The number of Basalt rocks found:", numBasalt)

The number of Basalt rocks found: 4

In [1]:
date = "February 26"
numRocks = 15
print("On", date, "number of rocks found:", numRocks)

On February 26 number of rocks found: 15